<div class="row mt-5 align-content-center " style="height: 500px;">
  <div class="col-md-6 offset-md-3 my-auto align-self-center">
    <div class="card text-dark align-self-center bg-light mb-3">
      <p class="h4 card-header">Import Excel Data</p>
      <form class="card-body bg-light" [formGroup]="excelUploadForm" (ngSubmit)="uploadData()">
        <p class="card-text">Select File to be uploaded:&nbsp;</p>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="excelFileUpload" formControlName="excelFileUpload"
              (change)="onFileChange($event)" id="excelfileUpload">
            <label class="custom-file-label" for="inputGroupFile">Choose file</label>
          </div>
          <button class="input-group-text btn-success" id="inputGroupFileAddon" type="submit">Upload
          </button>
        </div>
      </form>
    </div>
  </div>
</div>