
<div class="container mt-5">
  <div class="row justify:content-center ">
    
  <div class="col-md-4 ">
      <div class="card text-center "routerLink="/viewipo">
            <div class="card-body">
                <h4 class="card-title ">Ipo</h4>
            </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card  text-center" routerLink="/comparecompany">
            <div class="card-body">
                <h4 class="card-title ">Compare Company</h4>
            </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card   text-center" routerLink="/comparesector">
            <div class="card-body">
                <h4 class="card-title ">Compare Sector</h4>
            </div>
      </div>
  </div>
  
  </div>
  </div>
