<!-- <div class="container">
    <div class="row m-2">
        <div class="col-md-6 offset-md-3" style="height: 50vh;">
                <div class="card shadow m-auto">
                    <p class="h4 card-header text-center">Login</p>
                    <div class="card-body bg-light">
                        <p class="card-text">Details:&nbsp;</p>
                        <form>
                            <div class="input-group mt-3 mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Username/Adminname</span>
                                </div>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Password</span>
                                </div>
                                <input type="password" class="form-control" />
                            </div>

                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-success ">Login</button>
                                <button type="reset" class="btn btn-danger ml-2 ">Reset</button></div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div> -->
<div class="row" style="position: relative; margin-top: 5px;height: 300px;">
<div class="col align-self-center">
    <div class="text-center" pb-5  >
        <a routerLink="/adminlogin" routerLinkActive="active" class="btn btn-success w-25 my-1  ">Admin</a> <br>
        <a routerLink="/userlogin" routerLinkActive="active" class="btn btn-success w-25 my-1 ">User</a>
    </div>
</div>
</div>
<router-outlet></router-outlet>