<div class="container-fluid" style="min-height: 60vh;">
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-2 bg-transparent border">
             <div class="sidenav" >
                 <!-- <div class="list-group list-group-flush"> -->
                   <a routerLink="/home" id="widget" class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Home</a>
                   <a routerLink="/placeorder" id="widget" class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Place Order</a>
                   <a routerLink="/view" id="widget" class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">View Orders</a>
                   <a routerLink="/contact" id="widget" class="list-group-item list-group-item-action bg-transparent btn-lg text-dark">Contacts</a>
                 <!-- </div> -->
                 </div>        
            </div> 
            <div class="col bg-transparent mx-2">
                <div class="row text-dark text-fine p-3">
                
                     <h2>In this holiday season, show your love and care to your loved one's by sending gift card, 
                         and let them be a part of your happiness</h2>
             </div>
             <div class="row">
             <div class="container text-center">  
                 <img src="../../assets/gift.png" class="img-fluid" style="width:70%; height: auto;"></div>
             </div>
             <div class="row">
                 <div class="container-fluid p-4 text-center">
                <a routerLink="/placeorder" class="btn" ><img class="rounded" src="../../assets/order.png" id="imgbutton"></a></div>
                 
              </div>
             <div class="row">
 
             </div>
            </div>
 
        </div>
    </div>




</div>
