<div class="container mt-5">
  <div class="row justify:content-center ">
    <div class="col-md-4 ">
        <div class="card text-center "routerLink="/userprofile">
              <div class="card-body">
                  <img src="../../../assets/userprofile.jpg" >
              </div>
        </div>
    </div>
  <div class="col-md-4 ">
      <div class="card text-center "routerLink="/viewipo">
            <div class="card-body">
                <img src="../../../assets/compare ipo.jpg" >
            </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card  text-center" routerLink="/comparecompany">
            <div class="card-body">
                <img src="../../../assets/comparecompany.jpg" >
            </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card   text-center" routerLink="/comparesector">
            <div class="card-body">
                <img src="../../../assets/comparesector.jpg">
            </div>
      </div>
  </div>
  
  </div>
  </div>
