
<div class="container">
<h2> Course Details</h2>
<div class="table-responsive">
  <table class="table bg-light" border="2" >
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.mobile}}</td>
      <td><button class ="btn btn-danger" (click)="deleteUsers(user)">Delete</button>
      <button class ="btn btn-primary" (click)="updateUser(user)">Update</button> </td>  
    </tr>
  </table>
  <div class="text-center">
  <button class="btn  btn-warning">
    <a  routerLink="/createaccount">Add User</a></button>
  </div>
  </div>
</div>