<div class="container">
<div class="card-shadow  bg-trasparent">
    <h2 class="text-center">Contact Us</h2>
   
      <form class=" w-50 container bg-trasparent">
         <div class="form-group">
          <label for="id"> Id</label>
          <input type="number" class="form-control " name="id" placeholder="Enter id">
    </div> 
    <div class="form-group">
      <label for="username"> Name</label>
      <input type="text" class="form-control " name="name"  placeholder="Enter your name">
    </div>
    <div class="form-group">
      <label for="email"> Email</label>
      <input type="text" class="form-control " name="email"  placeholder="Enter your Email">
    </div>
    <div class="form-group">
      <label for="phone">Mobile No</label>
      <input type="number" class="form-control" id="phone" 
        placeholder=" Enter Your Mobile number">
    </div>
    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" class="form-control" id="subject" placeholder=" Write Feedback">
    </div>
    <div class=" container text-center">
    <button class="btn btn-success">Add Feedback</button></div>
    </form>
  </div>
  </div>
  
  
  
  
  
  